.bg-img {
  background-image: url(https://media.istockphoto.com/id/2156769234/photo/aerial-view-of-3d-render-american-football-soccer-stadium-with-blurred-tribunes-with-fans.jpg?s=2048x2048&w=is&k=20&c=ObP9WKasK6pwXBwHs33khEGF9o4PkBVqWXNTrHlMgXs=);
  background-size: cover;
  background-repeat: no-repeat;
}